<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="testAppJsonApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div class="container">
    <custom-form></custom-form>
  </div>
  <div class="ng-view">

  </div>
  <script type="text/ng-template" id="number.html">
    <div ckeditor="options" ng-model="content" ready="onReady()"></div>
  </script>
  <script type="text/ng-template" id="datepicker.html">
    <p class="input-group">
      <input type="text" id="{{::id}}" name="{{::id}}" ng-model="model[options.key]" class="form-control" ng-click="datepicker.open($event)" datepicker-popup="{{to.datepickerOptions.format}}" is-open="datepicker.opened" datepicker-options="to.datepickerOptions"
      />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </script>
  <script type="text/ng-template" id="editor.html">
  <div ui-ace></div>
  </script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>
  <script src="//rawgit.com/kentcdodds/api-check/latest/dist/api-check.js"></script>

  <!-- build:js(.) scripts/vendor.js -->

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
  <script src="bower_components/angular-ckeditor/angular-ckeditor.js"></script>
  <!-- endbower -->
  <script src="bower_components/ng-ckeditor/libs/ckeditor/ckeditor.js" charset="utf-8"></script>
  <!-- endbuild -->
  <script src="http://angular-ui.github.io/ui-ace/dist/ui-ace.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>


  <script src="//rawgit.com/formly-js/angular-formly/latest/dist/formly.js"></script>
  <script src="//rawgit.com/formly-js/angular-formly-templates-bootstrap/latest/dist/angular-formly-templates-bootstrap.js"></script>
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/directives/form.js"></script>
  <script src="scripts/controllers/form.js"></script>
  <!-- endbuild -->
</body>

</html>
